<div class="container my-4">
    <div class="hp-floating-box">

        <h3 class="hp-search-title">
            Tìm kiếm, đầu tư đổi mới công nghệ và thiết bị
        </h3>

        <div class="hp-category-grid">
            <!-- Tài sản trí tuệ -->
            <a href="~/tai-san-tri-tue.html"
               class="hp-category-item DVTV">
                <img src="~/image/Taisantritue.png"
                     alt="Tài sản trí tuệ"
                     class="hp-category-icon">
                <span class="hp-category-name">Tài sản trí tuệ</span>
                <p class="hp-category-item-desc">
                    Thông tin về bằng sáng chế và tài sản trí tuệ
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>

            <!-- Công nghệ -->
            <a href="~/cong-nghe.html"
               class="hp-category-item CNTB">
                <img src="~/image/CNTB.png"
                     alt="Công nghệ"
                     class="hp-category-icon">
                <span class="hp-category-name">Công nghệ</span>
                <p class="hp-category-item-desc">
                    Giải pháp công nghệ sẵn sàng chuyển giao
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>
            <!-- Thiết bị -->
            <a href="~/thiet-bi.html"
               class="hp-category-item CNTB">
                <img src="~/image/ThietBi.png"
                     alt="Thiết bị"
                     class="hp-category-icon">
                <span class="hp-category-name">Thiết bị</span>
                <p class="hp-category-item-desc">
                    Thiết bị máy móc đang được chào bán
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>
            <!-- Chuyên gia -->
            <a href="~/chuyen-gia.html"
               class="hp-category-item DTDA">
                <img src="~/image/DTDA.png"
                     alt="Chuyên gia"
                     class="hp-category-icon">
                <span class="hp-category-name">Chuyên gia</span>
                <p class="hp-category-item-desc">
                    Thông tin năng lực chuyên gia và các dự án liên quan
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>

            <!-- Nhà cung ứng -->
            <a href="~/nha-cung-ung.html"
               class="hp-category-item YCCN">
                <img src="/image/NCU.png"
                     alt="Nhà cung ứng"
                     class="hp-category-icon">
                <span class="hp-category-name">Nhà cung ứng</span>
                <p class="hp-category-item-desc">
                    Thông tin nhà cung ứng công nghệ và thiết bị
                </p>
                <input type="button" class="hp-category-item-button" value="tìm hiểu >>">
            </a>
            



          

        </div>
    </div>
</div>
