<section class="yc-section partner-section">
    <div class="container">
        <!-- TITLE -->
        <h2 class="hp-section-title">ĐỐI TÁC</h2>
        
        <!-- PARTNER CAROUSEL -->
        <div id="partnerCarousel" class="carousel slide partner-carousel" data-bs-ride="carousel">
            <div class="carousel-inner">

                <!-- Slide 1: Becamex, Bách Khoa, Công Thương, TT CNSH, TT Nông Lâm, TT Quốc Tế -->
                <div class="carousel-item active">
                    <div class="row g-4 align-items-center justify-content-center">
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/Becamex.jpg" alt="Becamex" class="partner-logo">
                                <div class="partner-name-overlay">Becamex</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/Bach Khoa.jpg" alt="Bách Khoa" class="partner-logo">
                                <div class="partner-name-overlay">ĐH Bách Khoa</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/Truong dh cong thuong.jpeg" alt="ĐH Công Thương" class="partner-logo">
                                <div class="partner-name-overlay">ĐH Công Thương</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/TT CNSH.png" alt="TT CNSH" class="partner-logo">
                                <div class="partner-name-overlay">TT Công nghệ sinh học</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/TT Nghien cuu chuyen giao khcn - Truong DH Nong Lam.jpg" alt="TT NC Nông Lâm" class="partner-logo">
                                <div class="partner-name-overlay">TT NC ĐH Nông Lâm</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/TT DMST CGCN - Truong dh quoc te.png" alt="TT ĐH Quốc tế" class="partner-logo">
                                <div class="partner-name-overlay">TT ĐH Quốc tế</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2: SHTPLabs, NC Nông nghiệp CNC, CSID, Siaep, VST, Hội Sáng chế -->
                <div class="carousel-item">
                    <div class="row g-4 align-items-center justify-content-center">
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/TT nghien cuu trien khai khu cong nghe cao.jpg" alt="SHTP Labs" class="partner-logo">
                                <div class="partner-name-overlay">SHTP Labs</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/TT nghien cuu phat trien nong nghiep cnc.png" alt="TT NC Nông nghiệp CNC" class="partner-logo">
                                <div class="partner-name-overlay">TT NC Nông nghiệp CNC</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/TT phat trien dich vu khai thac ha tang khcn.png" alt="CSID" class="partner-logo">
                                <div class="partner-name-overlay">CSID</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/Phan vien co dien.png" alt="Siaep" class="partner-logo">
                                <div class="partner-name-overlay">Siaep</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/Hiep hoi doanh nghiep khcn.jpg" alt="VST" class="partner-logo">
                                <div class="partner-name-overlay">VST</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/Hoi sang che vn.jpg" alt="Hội Sáng chế VN" class="partner-logo">
                                <div class="partner-name-overlay">Hội Sáng chế VN</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3: HCA, HAMEE, Vietfair, Analytica, SnE -->
                <div class="carousel-item">
                    <div class="row g-4 align-items-center justify-content-center">
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/Hoi tin hoc tphcm.jpg" alt="HCA" class="partner-logo">
                                <div class="partner-name-overlay">Hội Tin Học TP.HCM</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/Hoi co khi.jpg" alt="HAMEE" class="partner-logo">
                                <div class="partner-name-overlay">HAMEE</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/Vietfair.jpg" alt="VIETFAIR" class="partner-logo">
                                <div class="partner-name-overlay">VIETFAIR</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/analytica.jpg" alt="Analytica" class="partner-logo">
                                <div class="partner-name-overlay">Analytica Vietnam</div>
                            </a>
                        </div>
                        <div class="col-6 col-md-2">
                            <a href="#" class="partner-logo-link">
                                <img src="~/image/logo-doi-tac/SnE.png" alt="SnE" class="partner-logo">
                                <div class="partner-name-overlay">SnE Company</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Carousel Controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#partnerCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#partnerCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
