@model TechExchangeApp.ViewModel.DichVuTuVanIndexVm

@section Scripts {
    <script>
        $(function () {
            $("#dich-vu-tu-van-container").load(
                "/DichVuTuVan/DichVuTuVan?cateId=&page=1"
            );
        });

         $(function () {
            $("#dich-vu-cung-ung-container").load(
                "/DichVuTuVan/DichVuCungUng?menuId=@Model.DichVuTuVan.MenuId&industryId=0&page=1"
            );
        });



            $(function () {
                $(".GioHang").hover(function () {
                    $(this).find(".button-group").attr("style", "display:inline");
                }, function () {
                    $(this).find(".button-group").attr("style", "display:none");
                });
            });



            function ajaxJquery() {
                $(function () {
                    $(".current").parent().addClass("active");

                    $(".etheme_add_to_cart_button").click(function () {
                        var url = $(this).parent().parent().find("a").attr("href");
                        window.location.href = url;
                        return false;
                    });
                });
            }   
    </script>
}

<div class="columns-container">
    <div class="container" id="columns">
        <div class="row">

            <!-- CENTER COLUMN -->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">

                <div id="dich-vu-cung-ung-container">
                </div>

                <div id="dich-vu-tu-van-container">
                </div>

            </div>

            <div class="column col-xs-12 col-sm-3" id="left_column">

                @await Component.InvokeAsync("QuangCaoLeft")


            </div>
            <!-- END RIGHT COLUMN -->

        </div>
    </div>
</div>
