@{
    ViewData["Title"] = "Home Page";
}

<div class="columns-container">
    <div class="container" id="columns">
        <div class="row">
            <div class="center_column col-xs-12 col-sm-9 video-box" id="center_column">
                @await Html.PartialAsync("Video")
            </div>

            <div class="column col-xs-12 col-sm-3" id="left_column">

                @await Component.InvokeAsync("QuangCaoLeft")


            </div>
        </div>
    </div>
</div>
