@using TechExchangeApp.ViewModel
@using TechExchangeApp.Enums
@model ProductDetailViewModel
@{
    ViewData["Title"] = Model.Product.Name;
}

<div class="columns-container">
    <div class="container">
        <div class="row">

            @* MAIN CONTENT *@
            <div class="center_column col-xs-12 col-sm-9">

                @{
                    var typeName = Model.Product.ProductType switch
                    {
                        1 => "Công nghệ",
                        2 => "Thiết bị",
                        3 => "Tài sản trí tuệ",
                        _ => "Sản phẩm"
                    };
                }
                <h1 class="page-heading CongNgheThietBi">@typeName</h1>

                @switch (Model.Product.ProductType)
                {
                    case (int)ProductTypeEnum.CongNghe:
                        @await Html.PartialAsync("_DetailCongNghe", Model)
                        break;

                    case (int)ProductTypeEnum.ThietBi:
                        @await Html.PartialAsync("_DetailThietBi", Model)
                        break;

                    case (int)ProductTypeEnum.SangChe:
                        @await Html.PartialAsync("_DetailSangChe", Model)
                        break;

                    default:
                        <div class="alert alert-warning mt-4">
                            <i class="fa fa-exclamation-triangle me-2"></i>
                            Không xác định loại sản phẩm.
                        </div>
                        break;
                }

                @* ── Rating + View Widget ── *@
                <div class="mt-4">
                    @await Html.PartialAsync("_EntityRating", null, new ViewDataDictionary(ViewData) {
                        { "EntityType", "SanPhamCNTB" },
                        { "EntityId", Model.Product.ID }
                    })
                </div>

            @await Component.InvokeAsync("ProductPortletIOSanpham", new { productId = Model.Product.ID })
                @*      @await Component.InvokeAsync("TimKiemDoiTacPortlet") *@
            </div>

            @* SIDEBAR *@
            <div class="col-sm-3">
                @await Component.InvokeAsync("QuangCaoLeft")
            </div>

        </div>
    </div>
</div>
